body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.chart-box {
  width: 350px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.meaning {
  margin-top: 20px;
  color: #cbd5f5;
}
